@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #002333;
    --cor-secundaria: #B4BEC9;
    --cor-table: #159A9C;
}


* {
    font-family: 'Poppins';

}

body {
    background-color: #fff;
    font-family: 'Poppins';

}

table {
    width: 100%;
    background-color: #159A9C;
    border: 1px solid #000000;
    border-radius: 3px;

}


table thead {
    color: #fff;
    background-color: var(--cor-primaria);
}

.corpo-tabela tr {
    color: #fff;
}




.corpo-tabela tr:hover {
    background-color: #000000;
}

.container-table {
    padding: 30px;
}


.container-table nav {
    display: none;
}

.searchs {
    margin-right: 10px;
    padding: 3px;
}

.searchs input {
    padding: 3px;
    outline-style: none;

}

.searchs select {
    color: #fff;
    background-color: #002333;
    padding: 3px;

}

.searchs option {
    color: #fff;
    font-weight: bolder;

}

.action-button {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
}


.delete-button {
    border: none;
    background-color: rgb(240, 19, 19);
    padding: 3px;
    color: #fff;
    font-weight: 600;
    border-radius: 1px;
    cursor: pointer;
}

.edit-button {
    cursor: pointer;
    border-radius: 1px;
    padding: 3px;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: var(--cor-primaria);
}

