@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #002333;
    --cor-secundaria: #B4BEC9;
    --cor-table: #159A9C;
}


*{
    font-family: 'Poppins';

}
body {
    background-color: var(--cor-primaria);
    font-family: 'Poppins';

}

table {
    width: 100%;
}


table thead {
    background-color: var(--cor-secundaria);
}

.corpo-tabela tr {
    color: #fff;
}

.

.corpo-tabela tr:hover {
    background-color: #3498db;
}